*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #fdfffc;
    font-size: 16px;
    font-family: "Open Sans", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
}
.col-6{
    width: 50%;
}
.col-6:last-child{
    align-self: flex-start;
}
.col-6:last-child h1{
    color: #011627;
}
h1{
    margin-top: 50px;
}
h1, h2{
    color: #011627;
}
h2{
    margin-bottom: 20px;
}
form{
    width: 100%;
}
textarea, input{
    width: 80%;
    outline: none;
}
textarea{
    max-width: 80%;
    min-width: 80%;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    border: 1px solid #011627;
}
textarea:focus{
    border: 1px solid #2EC4B6;
}
input[type="submit"]{
    background: #ff9f1c;
    padding: 20px 0;
    border: none;
    cursor: pointer;
    color: #fdfffc;
    font-size: 1em;
    font-family: "Open Sans", serif;
}
input[type="submit"]:hover{
    background: rgba(255, 159, 28, 0.9);
    box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.50);
    -webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.50);
}
input[type="submit"]:active{
    box-shadow: none;
}
.error{
    background: #eaac8b;
    padding: 10px 20px;
    margin: 10px 0;
    width: 80%;
    color: #e01e37;
    font-size: 14px;
    font-style: italic;
}
ul{
    list-style: none;
}
.icon{
    float: left;
    color: #2ec4b6;
    padding-right: 10px;
    align-self: center;
}
.a-custom{
    color: #e01e37;
    float: right;
    align-self: center;
    cursor: pointer;
}